.Display-header {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.1);
  font-style: italic;
  text-align: center;
}

.Display-card {
  width: 320px;
  height: 100%;
  border-radius: 0;

  animation: zoomInLeft 500ms ease;

  & .ant-card-head {
    border-bottom: 0;
  }
}

.Display-content {
  display: none;
  font-size: 20px;
  margin-top: 3em;

  &.active {
    display: block;
    animation: flipInY 500ms ease;
  }
}
