.Header-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18vh;

  & .ant-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
}
