.ItemCard {
  border-radius: 0;
  margin-bottom: 16px;

  & .ant-card-head-title {
    font-size: 18px;
    color: #2db7f5;
  }

  & p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-bottom: 0.5em;
  }

  & em {
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
  }
}

.ItemCard-action {
  text-align: right;
  font-size: 16px;
}
