.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
}

.Header-menu {
  animation: slideInUp 500ms ease;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}
